
body {
    position: relative;
}



.container-fluid {
    padding: 0;
}

#cluster-map {
    width: 100%;
    height: 600px;
}

#map {
    width: 100%;
    height: 500px;
}

h1 {
    text-align: center;
}